name: Server
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/server.yml
      - docker/**
      - docker-compose.yml
  workflow_run:
    workflows:
      - Api
      - Client
    branches:
      - main
    types:
      - completed

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'push' }}

    steps:
      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DOMANE_SSH_HOST }}
          username: ${{ secrets.DOMANE_SSH_USER }}
          passphrase: ${{ secrets.DOMANE_SSH_PASSPHRASE }}
          key: ${{ secrets.DOMANE_SSH_PRIVATE_KEY}}
          script: |
            cd /app && \
            git stash && \
            git checkout main && \
            git reset --hard origin/main && \
            git pull --rebase && \
            export $(cat .env | sed 's/#.*//g' | xargs) && \
            docker stack deploy -c ./docker-compose.yml -c ./docker-compose-prod.yml --prune domane;
